#sides{
 display: flex;
 flex-direction: column;
}

#left{
 background-color: blue; 
 width: 50vw;
 height: 100vh;
 overflow: hidden;
}

#right{
 background-color: red;
 width: 50vw;
 height: 100vh;
 overflow: hidden;
}